body{
  margin: o;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  padding: 20px;
}
.meme{
  margin: 12px;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}
.form_input{
  border-radius: 5px;
  border: 1px solid gray;
  text-indent: 7px;
}
.form_btn{
  grid-column: 1 / -1;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
.meme_img{
  max-width: 100%;
}