body{
  margin: o;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90.41deg, #410256 1.14%, blueviolet 100%);
  padding: 20px;
}
.meme{
  margin: 12px;
  position: relative;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}
.form_input{
  border-radius: 5px;
  border: 1px solid gray;
  text-indent: 7px;
}
.form_btn{
  grid-column: 1 / -1;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #410256 1.14%, blueviolet 100%);
  color: white;
  cursor: pointer;
}
.meme_img{
  max-width: 100%;
  border-radius: 5px;
}
.meme_text{
  position: absolute;
  width: 80%;
  text-align: center;
  /* left: 50%;
  transform: translateX(-50%); */
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}